body {
  background-image: url("../media/background3.jpg");
  background-position: top;
  background-size: cover;
  background-color: #3d3d3d;
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  font-size: 10em;
  text-shadow: 4px 4px #1687bc;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  font-size: 3em;
  text-shadow: 4px 4px #1687bc;
  line-height: 0.7em;
}



/*Countdown at top of page*/

.countdown {
  overflow: auto;
  width: 100%;
  font-size: 600%;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.1);
  top: 0;
  background-image: url("../media/bannerBackground.jpg");
  background-position: bottom;
  -webkit-box-shadow: 0px 11px 42px -19px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px 11px 42px -19px rgba(0,0,0,0.67);
  box-shadow: 0px 11px 42px -19px rgba(0,0,0,0.67);
}

.timer {
  font-family: 'Big Shoulders Display', cursive;
  color: white;
  line-height: 0.1em;
}

/*Mobile optimization*/
@media screen and (max-width: 600px) {
  .timer{
    font-size: 0.4em;
  }
}




/*Index Container*/
.indexContainer {
  margin-top: 5%;
  overflow: auto;
  padding-bottom: 5%;
}

@media screen and (max-width: 600px) {
  .indexContainer{
    margin-top: 28%;
    padding-bottom: 18%;
  }
}



/*SlideShow*/
.slideshow {
  width: 70%;
  margin-left: 20%;
  margin: 0 auto;
  border-radius: 1.1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mySlides {
  width: 100%;
  border-radius: 1em;
  cursor: pointer;
  transition: 0.3s;
}

.mySlides:hover {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
  transition: 0.3;
}

/*Mobile Optimization*/
@media screen and (max-width: 600px) {
  .slideshow {
    width: 80%;
    margin-left: 10%;
    float: left;
    margin-bottom: 4%;
  }
}



/*Collums*/
.col1 {
  width: 33%;
  float: left;
  margin-left: 15%;
  color: white;
  text-align: left;
}

/*Mobile Optimization*/
@media screen and (max-width: 600px) {
  .col1{
    width: 80%;
    float: none;
    margin-left: 10%;
  }
}


/*Collum 2 has the cast image link to pop up*/
.col2 {
  width: 33%;
  float: right;
  margin-right: 15%;
  color: white;
  text-align: left;
  overflow: hidden;
}

.castImg {
  border-radius: 1.1em;
  transition: 0.3;
}

.castImg:hover {
  -webkit-filter: blur(2px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

/*Mobile Optimization*/
@media screen and (max-width: 600px) {
  .col2{
    width: 80%;
    float: none;
    margin-left: 10%;
  }
}





/*Moziaique Gallery*/
.mosContainer {
  width: 100%;
}

.row1 {
  width: 49%;
  float: left;
}

.row2 {
  width: 49%;
  float: right;
}

.mosImg {
  width: 100%;
  margin-bottom: 2%;
}


/*Overlay*/
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.8); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  overflow: scroll;
}

/*Mobile Optimization*/
@media screen and (max-width: 600px) {
  .popVideo {
    width: 90%;
    height: 40%;
  }
  .trailerh1 {
    font-size: 3em;
    text-shadow: 2px 2px #1687bc;
  }
}


/*Cast overlay STARTS*/
.castContainer {
  text-align: left;
  padding-left: 15%;
  color: white;
}

.castMember {
  float: left;
  padding-bottom: 4%;
}

.person {
  width: 50%;
  float: left;
  border-radius: 2em;
}

.castText {
  float: left;
  width: 30%;
  padding-left: 3%;
}

/*Mobile Optimization*/
@media screen and (max-width: 600px) {
  .castContainer {
    padding-left: 0;
  }

  .castMember {
    margin-bottom: 10%;
  }

  .person{
    width: 80%;
    float: none;
    margin-left: 10%;
  }

  .castText {
    width: 78%;
    float: none;
    margin-left: 11%;
  }

  .casth1 {
    font-size: 6em;
    margin-left: 10%;
    line-height: 0.2em;
  }

  .casth2 {
    font-size: 1.2em;
  }
}



/*Trailer Overlay*/
.trailerh1 {
  line-height: 0.2em;
}





/*Footer*/
.footer {
  width: 100%;
  background-color: #515151;
  padding-top: 3%;
  padding-bottom: 3%;
  overflow: auto;
}

.footerSocial {
  float: right;
  width: 20%;
}

.social {
  width: 20%;
  margin-right: 5%;
}

/*Mobile Optimization*/
@media screen and (max-width: 600px) {
  .footerSocial {
    width: 80%;
  }
}
